.destinations,
.tokyo-post,
.post-recommendations {
  width: 312px;
  margin: 0 auto;
}

.destinations .item .img-item,
.post-recommendations .img-item {
  width: 100%;
  height: 368px;
}

.destinations .button,
.post-recommendations .button {
  width: 312px;
}

/* Pacotes de Viagens*/

.destination-items,
.travel-destinations-cards,
.recommendation-items {
  gap: 40px;
}

.destination-items .item .tokyo,
.travel-destinations-cards .item .tokyo,
.tokyo-post .accommodation .image-post {
  background-color: var(--background-tertiary-color);
  background: url(../img/tokyo-mobile.jpg) no-repeat center/cover;
}

.destination-items .item .osaka,
.travel-destinations-cards .item .osaka,
.post-recommendations .item .osaka {
  background-color: var(--background-tertiary-color);
  background: url(../img/osaka-mobile.jpg) no-repeat center/cover;
}

.destination-items .item header h3,
.travel-destinations-cards .item header h3,
.recommendation-items .item h3 {
  color: var(--text-primary-color);
  margin: 24px 0px;
}

.destination-items .item header p,
.travel-destinations-cards .item header p {
  color: var(--text-primary-color);
  line-height: 1.5;
}

/* Blogpost*/

.post-container .arrival {
  margin-bottom: 32px;
}

.tokyo-post .post-container p {
  margin-bottom: 32px;
}

.tokyo-post .post-container .last {
  margin-bottom: 0;
}

.post-container .arrival .image-post {
  background: url(../img/blogpost/tokyo-market-mobile.jpg) no-repeat
    center/cover;
  height: 360px;
}

.post-container .accommodation .image-post {
  height: 300px;
  width: auto;
  margin: 0;
}

.post-recommendations {
  margin-bottom: 88px;
}

.post-recommendations .recommendation-items .hiroshima {
  background: url(../img/blogpost/hiroshima-mobile.png) no-repeat center/cover;
}

.post-recommendations .recommendation-items .kyoto {
  background: url(../img/blogpost/kyoto-mobile.png) no-repeat center/cover;
}

@media screen and (min-width: 768px) {
  .destinations,
  .post-recommendations {
    width: 648px;
  }

  .destinations .item .img-item,
  .post-recommendations .item .img-item {
    width: 100%;
    height: 452px;
  }

  .destinations .button,
  .post-recommendations .button {
    width: 280px;
  }

  /* Pacotes de Viagens*/

  .destination-item .item .tokyo .img-item,
  .travel-destinations-cards .item .tokyo .img-item,
  .tokyo-post .accommodation .image-post {
    background: url(../img/tokyo-tablet-desk.jpg) no-repeat center/cover;
  }

  .destination-item .item .osaka .img-item,
  .travel-destinations-cards .item .osaka .img-item,
  .recommendation-items .item .osaka {
    background: url(../img/osaka-tablet-desk.jpg) no-repeat center/cover;
  }

  /* Blogpost*/
  .tokyo-post {
    width: 648px;
  }

  .tokyo-post .content-container .arrival {
    width: 312px;
  }

  .tokyo-post .content-container .accommodation {
    width: auto;
  }

  .tokyo-post .arrival {
    display: flex;
  }

  .post-container .image-post {
    background: url(../img/blogpost/tokyo-market-tablet-desktop.jpg) no-repeat
      center/cover;
    height: 360px;
    width: 312px;
    margin: 0 0 0 24px;
  }

  .post-recommendations {
    margin-bottom: 104px;
  }

  .post-recommendations .recommendation-items .hiroshima {
    background: url(../img/blogpost/hiroshima-tablet-desktop.png) no-repeat
      center/cover;
  }

  .post-recommendations .recommendation-items .kyoto {
    background: url(../img/blogpost/kyoto-tablet-desktop.png) no-repeat
      right/cover;
  }
}

@media screen and (min-width: 1024px) {
  .destinations,
  .post-recommendations {
    width: 900px;
  }

  .destinations .item .img-item,
  .post-recommendations .item .img-item {
    width: 100%;
    height: 452px;
  }

  /* Blogpost*/
  .tokyo-post {
    width: 900px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations,
  .post-recommendations {
    width: 1200px;
  }

  /* Pacotes de Viagens*/

  .destination-items,
  .travel-destinations-cards,
  .recommendation-items {
    flex-direction: row;
    gap: 24px;
  }

  /* Blogpost*/
  .tokyo-post {
    width: 1200px;
  }

  .post-container .arrival {
    margin-bottom: 48px;
  }

  .tokyo-post .post-container p {
    margin-bottom: 48px;
  }

  .tokyo-post .content-container .arrival {
    width: 588px;
  }

  .post-container .image-post {
    width: 588px;
  }

  .tokyo-post .content-container .accommodation {
    width: auto;
  }

  /* Blogpost */
  .post-recommendations {
    height: 1200px;
  }

  .recommendation-items .item {
    width: 384px;
    height: 755px;
  }
}
